<h1>Add Student</h1>
<form method="POST" action="/add">
    Name: <input type="text" name="name" required><br>
    Age: <input type="number" name="age" required><br>
    Course: <input type="text" name="course" required><br>
    Email: <input type="email" name="email" required><br>
    <button type="submit">Add</button>
</form>
<a href="/">Back</a>
